/* Favicon Styles */
.fa {
  text-align: center;
  color: gray;
  font-size: 1.5rem;
}

body {
  font-family: "Major Mono Display", monospace;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 4rem;
  color: #12440a;
}

a {
  font-family: monospace;
  font-size: 1.2rem !important;
}

a:visited {
  color: purple !important;
}

a:hover {
  font-weight: bold;
}

.opaque {
  opacity: 70%;
}

.fa-home {
  font-size: 1rem !important;
  color: inherit;
}

.alert {
  font-family: monospace;
  text-align: center;
}
